.tutorial {
  display: flex;
  flex-shrink: 0;

  &__instructions {
    display: flex;
    padding: 12rem 8rem;
    align-items: flex-end;
    gap: 47px;
    flex-direction: column;
    border: 1px solid #0073fc;
    background: #0264d4;
    width: 45%;
  }
  &__instructions-title {
    color: #fff;
    font-feature-settings:
      'liga' off,
      'clig' off;
    font-family: Fraunces;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 64.8px */
    letter-spacing: -2.16px;
  }

  .tutorial__instructions-description {
    align-self: stretch;
    color: #fff;
    font-feature-settings:
      'liga' off,
      'clig' off;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .highlighted-text {
    color: #fff;
    font-feature-settings:
      'liga' off,
      'clig' off;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: var(--yellow-yellow-6-primary, #ffd22f);
    text-decoration-thickness: 12.5%;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }

  .tutorial__arrow {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 9999px;
    border: 1px solid var(--Blue-Blue12, #003660);
    background: var(--Brand-Yellow, #ffc107);
  }

  .tutorial__arrow img {
    width: 16px;
    height: 16px;
    object-fit: contain;
  }

  &__visuals {
    display: flex;
    padding: 7.5rem 8.25rem;
    justify-content: center;
    align-items: center;
    border: 1px solid #0073fc;
    background: #fff;
  }

  &__visuals-sample {
    width: 36.125rem;
    height: 26.9375rem;
  }

  /* Tablet screens */
  @media (max-width: 1024px) {
    .learn {
      flex-direction: column;
      align-items: center;
    }

    &__instructions {
      width: 80%;
      padding: 1.5rem;
    }

    &__instructions-title {
      padding: 2rem;
      font-size: 2rem;
    }

    &__visuals {
      width: 80%;
      padding: 3rem;
    }

    &__visuals-sample {
      width: 36.125rem;
      height: 26.9375rem;
      aspect-ratio: 578px/431px;
    }
  }

  /* Mobile screens */
  @media (max-width: 768px) {
    &__instructions {
      width: 100%;
      padding: 1rem;
    }

    &__instructions-title {
      padding: 1.5rem;
      font-size: 1.8rem;
      text-align: center;
    }

    &__instructions-btn {
      width: 100%;
      max-width: 180px;
      margin: 1rem auto;
      font-size: 14px;
    }

    &__visuals {
      width: 100%;
      padding: 2rem;
    }

    &__visuals-sample {
      width: 100%;
      max-width: 30rem;
    }
  }
}
