.tutorial {
  display: flex;
  flex-shrink: 0;
  overflow: visible; 
  position: relative; 

  &__instructions {
    display: flex;
    padding: 12rem 8rem;
    align-items: flex-start;
    gap: 47px;
    flex-direction: column;
    border: 1px solid #0073fc;
    background: #0264d4;
    width: 45%;
    position: relative;
  }

  &__instructions-title {
    color: #fff;
    font-feature-settings:
      'liga' off,
      'clig' off;
    font-family: Fraunces;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -2.16px;
  }

  .tutorial__instructions-description {
    align-self: stretch;
    color: #fff;
    font-feature-settings:
      'liga' off,
      'clig' off;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .highlighted-text {
    color: #fff;
    font-feature-settings:
      'liga' off,
      'clig' off;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-color: var(--yellow-yellow-6-primary, #ffd22f);
    text-decoration-thickness: 12.5%;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }

  .tutorial__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    border: 1px solid var(--Blue-Blue12, #003660);
    background: var(--Brand-Yellow, #ffc107);
    //transition: opacity 0.3s ease-in-out;
    z-index: 5; 

    &--left {
      left: 7.5rem; 
      top: 75%;
    }

    &--right {
      right: 7.5rem; 
      top: 75%;
    }

    &:hover {
      opacity: 1;
    }
  }

  .tutorial__arrow img {
    width: 16px;
    height: 16px;
    object-fit: contain;
  }

  &__visuals {
    display: flex;
    padding: 7.5rem 8.25rem;
    justify-content: center;
    align-items: center;
    border: 1px solid #0073fc;
    background: #fff;
    width: 55%;
    overflow: hidden;
    position: relative;
  }

  &__visuals-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }

  &__visuals-sample {
    width: 36.125rem;
    height: 26.9375rem;
  }

  /* Sliding Animation */
  .tutorial__visuals-container.next {
    animation: slideInRight 1s forwards;
  }

  .tutorial__visuals-container.prev {
    animation: slideInLeft 1s forwards;
  }

  @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  /* Tablet screens */
  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;

    &__instructions {
      width: 80%;
      padding: 1.5rem;
      align-items: center;
      text-align: center;
    }

    &__instructions-title {
      padding: 2rem;
      font-size: 2rem;
    }

    &__visuals {
      width: 80%;
      padding: 3rem;
    }

    &__visuals-sample {
      width: 100%;
      max-width: 36.125rem;
      height: auto;
      aspect-ratio: 578/431;
    }

    .tutorial__arrow {
      width: 32px;
      height: 32px;
    }
  }

  /* Mobile screens */
  @media (max-width: 768px) {
    &__instructions {
      width: 100%;
      padding: 1rem;
    }

    &__instructions-title {
      padding: 1.5rem;
      font-size: 1.8rem;
      text-align: center;
    }

    &__visuals {
      width: 100%;
      padding: 2rem;
    }

    &__visuals-sample {
      width: 100%;
      max-width: 30rem;
    }

    .tutorial__arrow {
      width: 32px;
      height: 32px;
    }
  }
}
